:root {
    --color-table-border: grey;
}

body.normal {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    height: 100vh;
}

body.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100vh;
}

button:hover {
    background-color: rgb(97, 96, 96);
    color:white;
}

.left {
    display: flex;
    flex-direction: column;
    grid-column: 1/2;
}
    .add {
        align-self: center;
        padding: 1rem;
        margin-top: 1rem;
        font-size: 18px;;
    }
    table {
        border-collapse: collapse;
        border: 3px solid var(--color-table-border);
    }
    th {
        width: 20%;
        border: 3px solid var(--color-table-border);
        text-align: center;
    }
    td {
        border: 1px solid var(--color-table-border);
        padding: 6px;
        text-align: center;
    }
        .delete_row {
            background-color: white;
        }
        .read_cell {
            display: flex;
            gap: 1rem;
            justify-content: center;
            border-top: 0.5px solid var(--color-table-border);
            border-right: 0;
            border-bottom: 0;
            border-left: 0;
        }
        #read_cell_first {
            border-top: 0;
        }
            .read_cell > button {
                width: 20px;
                aspect-ratio: 1/1;
                background-image: url("./change.png");
                background-repeat: no-repeat;
                background-size: 100%;
                background-color: white;
            }

form {
    grid-column: 2/3;
    justify-self: center;
    border: 3px solid var(--color-table-border);
    height: min-content;
    margin-top: 5rem;
    padding: 2rem;
    padding-top: 2rem;
    display: grid;
    position:relative;
}
    h2 {
        margin-top: 0;
    }
    .form_grid {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        gap: 7px;
        margin-bottom: 7px;
    }
        .container  {
            display: grid;
            grid-template-columns: 1fr 2fr;
            width: 35vw;
        }
    form > button {
        justify-self: center;
        width: 12rem;
    }
    .closeForm {
        position:absolute;
        top: 1rem;
        right: 1rem;
        background-image: url("./x.png");
        background-size: 20px;
        background-repeat: no-repeat;
        background-position: center;
        aspect-ratio: 1/1;
        width: 25px;
    }